{% extends 'blog/base.html' %}
{% load static %}
{% block title %}About page {% endblock title %}

{% block content %}
<div class="col-sm-10">
    <h2 class="text-white my-5">About page</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi similique repellendus dolorem ut, qui nam sed eveniet iste ab possimus cum? Vel totam explicabo expedita in est impedit tenetur labore fugit, asperiores aut perferendis. Accusamus ipsa eveniet odio provident est.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure totam itaque odit obcaecati reprehenderit. Enim veritatis iusto porro, ipsa aspernatur quas ea explicabo fugiat eius perspiciatis magnam ab rem obcaecati quos nihil quaerat, necessitatibus tempore repellendus dolorum cum sunt! Ducimus et temporibus possimus tempora, porro vero incidunt provident similique tempore repellat necessitatibus atque debitis voluptas dolorem. Repellendus nemo quod repudiandae!</p>
    
</div>
{% endblock content %}